<div class="w-full mx-4">
  <div class="text-center">
    <h2 class="text-2xl font-bold">Login</h2>
    <hr class="my-4" />
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit($event)"
      class="mx-auto w-80 bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
      <div class="mb-4">
        <label for="email" class="block text-gray-700 text-sm font-bold mb-1">
          Email
        </label>
        <input id="email" type="email" formControlName="email"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" autocomplete="email">
      </div>


      <div class="mb-4">
        <label for="password" class="block text-gray-700 text-sm font-bold mb-1">
          Password
        </label>
        <input id="password" type="password" formControlName="password"
          class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" autocomplete="current-password">
      </div>

      <button class="button" type="submit"
        class="hover:cursor-pointer bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Login</button>
        <p class="mt-4 text-sm font-light text-black-500 dark:text-black-400">
          Don’t have an account yet? <a routerLink="/register" class="font-bold text-primary-600 hover:underline dark:text-primary-500">Sign up</a>
        </p>
    </form>
  </div>
</div>