<div class="container mx-auto main-container">
  <div class="flex justify-between mt-3 mb-2">
    <div class="flex-grow">
      <h1 class="text-3xl font-bold mt-2">
        {{title}}
      </h1>
    </div>
    <div *ngIf="sessionService.sessionToken === ''; else loggedInBlock" class="flex text-end items-center">
      <div class="px-4 py-6 text-lg border-r-2 border-gray-200 mr-1"></div>
      <a routerLink="login">
        <div class="px-4 py-3 text-lg rounded hover:bg-gray-100">Login</div>
      </a>
    </div>
    <ng-template #loggedInBlock>
      <div class="flex text-end items-center">
        <a [href]="'/user/' + sessionService.currentUserId">
          <div class="px-4 py-2 text-lg rounded hover:bg-gray-100 flex items-center">
            <div *ngIf="sessionService.image==null; else hasOwnImg">
              <img id="scale-125 profile_pic" class="rounded-full w-10 h-10" src="/assets/images/default_profile.jpg" alt="profile image" />
            </div>
            <ng-template #hasOwnImg>
              <img id="scale-125 profile_pic" class="rounded-full w-10 h-10 object-cover" [src]="sessionService.image" alt="profile image" />
            </ng-template>
            <p class="ml-2">{{ sessionService.firstName }} {{ sessionService.lastName }}</p>
          </div>
        </a>
        <div class="px-1 py-6 text-lg border-r-2 border-gray-200 mr-1 -ml-1"></div>
        <a href="#" (click)="logOut()">
          <div class="px-4 py-3 text-lg rounded hover:bg-gray-100">Logout</div>
        </a>

      </div>
    </ng-template>
  </div>
  <hr class="mb-4" />
  <div class="flex">
    <div class="w-1/12 min-w-min">
      <nav>
        <div class="border rounded divide-y divide-solid">
          <a routerLink="/" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">Home</a>
          <a routerLink="/plants" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">Plants</a>
          <a routerLink="/family" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">Family</a>
          <div *ngIf="sessionService.sessionToken !== ''">
            <a routerLink="/add-edit" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">Add/Edit Plants</a>
            <a routerLink="/manage-plants" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">Manage Plants</a>
            <a routerLink="/graphql" class="block px-4 py-2 text-gray-800 hover:bg-gray-100">GraphQL</a>
          </div>

        </div>
      </nav>
    </div>
    <div class='w-11/12'>
      <app-alert [message]="alertService.alertMessage" [type]="alertService.alertType"
        [class]="alertService.alertClass"></app-alert>
      <div class="mx-4 w-90">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>