<div class="w-full flex gap-4">
    <div class="w-72">
        <img class="object-contain" [src]="plant.image" alt="plant image" />
    </div>
    <div class="w-3/4">
        <h2 class="text-2xl font-bold">Plant: {{plant !== null && plant.name}}</h2>
        <small><em>Added on {{plant.date}}</em></small>
        <hr class="my-4" />
        <h3 class="text-xl font-bold">Description</h3>
        <p>{{plant.description}}</p>
        <hr class="my-4" />
        <h3 class="text-xl font-bold">Instruction</h3>
        <p>{{plant.instruction}}</p>
    </div>
</div>

<div id="commentSection">
    <div class="comment-input ml-2">
        <form [formGroup]="commentForm" (ngSubmit)="addComment($event)"
        class="">
        <div class="mb-2">
            <label for="comment" class="block text-gray-700 text-sm font-bold mb-1">
            Add comment
            </label>
            <textarea id="addComment" type="text" formControlName="comment"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight h-24" autocomplete="email"></textarea>
        </div>
        <button class="button" type="submit"
            class="hover:cursor-pointer bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Add</button>
        </form>
    </div>

    <div class="comment">
        <div class="user-pic">
        </div>
        <div class="comment-content">
            <div class="username-date">
                <div class="user-name">Ork123</div>
                <div class="comment-time">{{datePlaceholder}}</div>
            </div>
            <div class="comment-text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia</div>
            <div class="like-section">
                <i class="material-icons">thumb_up_off_alt</i>
                <div class="like-count">1</div>
                <i class="material-icons">thumb_down_off_alt</i>
                <div class="dislike-count">2</div>
            </div>
        </div>
    </div>
</div>