#commentSection {
    width: 100%;
    margin-top: 20px;
    /* overflow: auto; */
}

.comment {
    box-sizing: border-box;
    width: 98%;
    height: 150px;
    border: 1px #000000 solid;
    border-radius: 6px;
    margin: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.user-pic {
    width: 75px;
    height: 75px;
    border-radius: 100%;
    /* background-color: black; */
}

.comment-content {
    height: 100%;
    position: relative;
}

.comment-text {
    max-height: 100px;
    overflow-x: hidden;
}

.username-date {
    display: flex;
    gap: 10px;
}

.user-name {
    font-weight: 600;
}

.like-section {
    display: flex;
    position: absolute;
    bottom: 0;
    gap:5px;
}

.like-section-btn {
    display: flex;
}

#addComment {
    resize: none;
}