<div class="w-full mx-2">
  <div class="text-center">
    <h2 class="text-2xl font-bold">Plants</h2>
    <hr class="my-4" />
    <div class="overflow-x-auto">
      <div class="relative overflow-x-auto shadow-md rounded-lg">
        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
          <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
              <th scope="col" class="pl-6 py-3">
                Plant
              </th>
              <th scope="col" class="pl-6 py-3">
                Date
              </th>
              <th scope="col" class="pl-6 py-3 text-center">
                Image
              </th>
            </tr>
          </thead>
          <tbody>

            @for (plant of plants; track plant) {
              <tr
                class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                <td scope="row" class="pl-6 py-4 font-medium text-gray-900 dark:text-white">
                  <a [routerLink]="'/plant/' + plant.id" class="hover:text-blue-500">{{plant.name}}</a>
                </td>
                <td class="pl-6 py-4">
                  {{plant.date}}
                </td>
                <td class="pl-6 py-4">
                  <img class=" h-20 mx-auto object-contain" [src]="plant.image" alt="plant image" />
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>