.shim-blue {
    position: relative;
    overflow: hidden;
    background-color: rgba(0, 155, 255, 0.7);
}

.shim-yellow {
    position: relative;
    overflow: hidden;
    background-color: rgba(251, 255, 0, 0.7);
}

.shim-red {
    position: relative;
    overflow: hidden;
    background-color: rgba(255, 70, 0, 0.7);
}

#myImage {
    transition: 2s;
}

#myImage:hover {
    filter: invert(1);
    cursor: pointer;

}