<div class="w-full mx-4">
  <div class="text-center">
    <h2 class="text-2xl font-bold">Find a plant to water!</h2>
    <hr class="mt-4" />
    <div id="imageContainer">
      <a routerLink="/plants"><img id="myImage" class="mx-auto rotate-180" src="/assets/images/plant1.jpg"
      alt="plant image" /></a>
    </div>
    @if (sessionService.isAuthenticated && this.lastWatered) {
      <div>
        <div class="flex justify-center">
          <div>Currently time to next water is set to </div>
          <select (change)="onSelect($event)" id="selectDays"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-10 mx-2">
            @for (number of numbers; track number) {
              <option [value]="number">{{ number }}</option>
            }
          </select>
          <div> days</div>
        </div>
        <div>Last time watered {{ lastWatered | date: 'dd/MM/yyyy' }}</div>
        <div>Next time to water {{ nextDateToWater | date: 'dd/MM/yyyy' }}</div>
        @if (daysLeftToWater > 0) {
          <div>
            <div>Days left to water {{ (daysLeftToWater) | number: '1.1-1' }}</div>
          </div>
        }
        @if (daysLeftToWater <= 0) {
          <div>
            <div>Days passed watering date {{ (daysLeftToWater*-1)  | number: '1.1-1' }} 😬 Oh-ou! </div>
          </div>
        }
        @if ((daysLeftToWater/daysToWater)*100 > 50) {
          <div>
            <div class="mx-auto relative w-full sm:w-1/2 bg-gray-200 rounded">
              <div [style.width.%]="calculateProcent()" class="absolute top-0 h-4 rounded shim-blue"></div>
            </div>
          </div>
        }
        @if ((daysLeftToWater/daysToWater)*100 > 25 && (daysLeftToWater/daysToWater)*100 <= 50) {
          <div>
            <div class="mx-auto relative w-full sm:w-1/2 bg-gray-200 rounded">
              <div [style.width.%]="calculateProcent()" class="absolute top-0 h-4 rounded shim-yellow"></div>
            </div>
          </div>
        }
        @if ((daysLeftToWater/daysToWater)*100 > 0 && (daysLeftToWater/daysToWater)*100 <= 25) {
          <div>
            <div class="mx-auto relative w-full sm:w-1/2 bg-gray-200 rounded">
              <div [style.width.%]="calculateProcent()" class="absolute top-0 h-4 rounded shim-red"></div>
            </div>
          </div>
        }
        @if ((daysLeftToWater/daysToWater)*100 <= 0) {
          <div>
            <div class="mx-auto relative w-full sm:w-1/2 bg-gray-200 rounded">
              <div [style.width.%]="0" class="absolute top-0 h-4 rounded shim-blue"></div>
            </div>
          </div>
        }
        <!-- <div class="mx-auto relative w-full sm:w-1/2 bg-gray-200 rounded">
        <div [style.width.%]="calculateProcent()" class="absolute top-0 h-4 rounded shim-blue"></div>
      </div> -->
      <form (ngSubmit)="handleUpdateWatering($event)" class="mx-auto mt-4">
        <button type="submit"
          class="hover:cursor-pointer bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline
          disabled:bg-slate-50 disabled:text-slate-500 disabled:border-slate-200 disabled:shadow-none disabled:cursor-auto" [disabled]="this.wateredDisabled">
          Watered
        </button>
      </form>
    </div>
  }
</div>
</div>