<div class="w-full mx-4">
  <div class="text-center">
    <h2 class="text-2xl font-bold">Find a plant to water!</h2>
    <hr class="mt-4" />
    <div id="imageContainer">
      <a routerLink="/plants"><img id="myImage" class="mx-auto rotate-180" src="/assets/images/plant1.jpg"
          alt="games image" /></a>
    </div>
    <div *ngIf="sessionService.isAuthenticated && this.lastWatered">
      <div class="flex justify-center">
        <div>Currently time to next water is set to </div>
        <select (change)="onSelect($event)" id="selectDays"
          class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-10 mx-2">
          <option *ngFor="let number of numbers" [value]="number">{{ number }}</option>
        </select>
        <div> days</div>

      </div>
      <div>Last time watered {{ lastWatered | date: 'dd/MM/yyyy' }}</div>
      <div>Next time to water {{ nextDateToWater | date: 'dd/MM/yyyy' }}</div>
      <div>Days left to water {{ (daysLeftToWater) | number: '1.1-1' }}</div>
      <div class="mx-auto relative w-full sm:w-1/2 bg-gray-200 rounded">
        <div [style.width.%]="calculateProcent()" class="absolute top-0 h-4 rounded shim-blue"></div>
      </div>
      <form (ngSubmit)="handleUpdateWatering($event)" class="mx-auto mt-4">
        <button type="submit"
          class="hover:cursor-pointer bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
          Watered
        </button>
      </form>

    </div>
  </div>
</div>