.comment-container {
  box-sizing: border-box;
  width: 98%;
  border: 1px #000000 solid;
  border-radius: 6px;
  margin: 10px;
  display: flex;
  padding: 10px;
  gap: 10px;
}

.user-pic {
  width: 75px;
  height: 75px;
  border-radius: 100%;
  object-fit: cover;
}

.comment-content {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.comment-text {
  overflow-x: hidden;
}

.username-date {
  display: flex;
  gap: 10px;
}

.user-name {
  font-weight: 600;
}

.user-name:hover {
  cursor: pointer;
}

.like-section {
  display: flex;
  bottom: 0;
  gap:5px;
}

.like-section-btn {
  display: flex;
}

#addComment {
  resize: none;
}

.like-icon:hover {
  cursor: pointer;
  color: rgb(127,127,127);
}